In [1]:
import pandas as pd
from pathlib import Path

#DATA_DIR = 'L:\med-groups\lmu\ls1\users\t\torrieri\CellProfiler\output'
DATA_DIR = '/work/data/torrieri'
FILE_NAME = 'Ki7520_CMs_after_filtering.csv' 

DATA_DIR = Path(DATA_DIR)
if not DATA_DIR.is_dir():
    raise ValueError('Please check DATA_DIR.')
FILE = DATA_DIR / FILE_NAME
if not FILE.exists():
    raise ValueError('Please check FILE_NAME.')

df = pd.read_csv(FILE)

MEASUREMENT = 'Intensity_MeanIntensity_A647rescaled'

avg = df[MEASUREMENT].mean()
print(avg)


# save rows where the measured value is above mean
OUTPUT = DATA_DIR / (FILE.stem + "__" + MEASUREMENT + "_above_mean" + FILE.suffix)
cols = ['ImageNumber','ObjectNumber',MEASUREMENT]
df[df[MEASUREMENT] >= avg][cols].to_csv(OUTPUT,index=False)
print(OUTPUT)

0.0974431287100479
/work/data/torrieri/Ki7520_CMs_after_filtering__Intensity_MeanIntensity_A647rescaled_above_mean.csv

In [2]:
df[df[MEASUREMENT] >= avg][cols].groupby('ImageNumber').agg({'ObjectNumber':'max'})

             ObjectNumber
ImageNumber
105                     1
305                    24
306                    45
307                   102
308                    43
...                   ...
1016                   17
1018                   14
1019                   16
1022                  115
1023                   43

[66 rows x 1 columns]